<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Profile</h1>
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input
      type="text"
      class="form-control"
      id="nickname"
      formControlName="nickname"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <button class="btn primary">Save changes</button>
  </div>
</form>
